[alias]
  amend = commit --amend --no-edit
  fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
  br = branch
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  rmb = branch -D
  s = status
  ss = show-branch --list
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  unignore-all = update-index --really-refresh
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[diff]
  tool = meld
[user]
	name = Yunchi Luo
	email = mightyguava@gmail.com
[push]
	default = current
[http]
  cookiefile = ~/.gitcookies
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[rebase]
	autoStash = true
