# Enable color support of ls on linux and also add handy aliases
if [[ -x /usr/bin/dircolors ]]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto'
fi

alias ll='ls -alFG'
alias la='ls -A'
alias l='ls -CF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ucd='cd ~/development/urbancompass'
alias gnb='git fetch origin; git checkout origin/master -b'
alias run_backends='~/development/urbancompass/users/yunchi/run_folder_backends.sh'
alias run_frontend='~/development/urbancompass/scripts/run_frontend.sh'
alias gr='git rebase -i --autosquash origin/master'
alias gf='git fetch origin'
alias genjava='./scripts/gen_idea.py -j'

get_tmux_buffer () {
  ssh $1 tmux show-buffer -b 0 | pbcopy
}
ucssh () {
  scripts/fab discovery.ssh:"${1}"
}

alias g="source ~/bin/switch_paths"
